.is-rounded-1 {
    border-radius: 5px !important;
}
.is-rounded-2 {
    border-radius: 10px !important;
}
.is-rounded-3 {
    border-radius: 15px !important;
}
.is-rounded-4 {
    border-radius: 20px !important;
}
.is-rounded-5 {
    border-radius: 25px !important;
}

.is-rounded-full{
    border-radius: 30px !important;
}