@font-face {
    font-family: BentonSansBlack;
    src: url('/src/assets/fonts/BentonSansBlack.otf');
  }

  @font-face {
    font-family: BentonSansRegular;
    src: url('/src/assets/fonts/BentonSansRegular.otf');
  }

  p {
    font-family: BentonSansRegular;

  }
