@font-face {
    font-family: BentonSansBlack;
    src: url('../assets/fonts/BentonSansBlack.otf');
  }

  @font-face {
    font-family: BentonSansRegular;
    src: url('../assets/fonts/BentonSansRegular.otf');
  }

  p {
    font-family: BentonSansRegular;

  }

  .title {
    font-family: BentonSansBlack;
  }

  .subtitle{
    font-family: BentonSansRegular;
  }
