//not loading in main...???
.navbar-item {
    width: 14.2857%;
    padding: 0;
    padding-top: 0.5rem;
  }
  a.navbar-item:hover {
    color: #787878;
  }
  
  a.navbar-item{
    .Introduction {
      height: 25px;
      background: url("../images/Home.png") center / contain;
      background-repeat: no-repeat;
    }
    .LearningOutcomes {
      height: 25px;
      background: url("../images/Learning.png") center / contain;
      background-repeat: no-repeat;
    }
    .TrainingMaterials{
      height: 25px;
      background: url("../images/Training.png") center / contain;
      background-repeat: no-repeat;
    }
    .Quiz{
      height: 25px;
      background: url("../images/Quiz.png") center / contain;
      background-repeat: no-repeat;
    }
    .Resources{
      height: 25px;
      background: url("../images/Resources.png") center / contain;
      background-repeat: no-repeat;
    }
    .Practice{
      height: 25px;
      background: url("../images/Practice.png") center / contain;
      background-repeat: no-repeat;
    }
    .Feedback{
      height: 25px;
      background: url("../images/Feedback.png") center / contain;
      background-repeat: no-repeat;
    }
  }
  
  
  a.navbar-item:focus {
    background-color: $hover-color;
    color: #ffffff;
    .Introduction {
      height: 25px;
      background: url("../images/icons_hover/Home.png") center / contain;
      background-repeat: no-repeat;
    }
    .LearningOutcomes {
      height: 25px;
      background: url("../images/icons_hover/Learning.png") center / contain;
      background-repeat: no-repeat;
    }
    .TrainingMaterials{
      height: 25px;
      background: url("../images/icons_hover/Training.png") center / contain;
      background-repeat: no-repeat;
    }
    .Quiz{
      height: 25px;
      background: url("../images/icons_hover/Quiz.png") center / contain;
      background-repeat: no-repeat;
    }
    .Resources{
      height: 25px;
      background: url("../images/icons_hover/Resources.png") center / contain;
      background-repeat: no-repeat;
    }
    .Practice{
      height: 25px;
      background: url("../images/icons_hover/Practice.png") center / contain;
      background-repeat: no-repeat;
    }
    .Feedback{
      height: 25px;
      background: url("../images/icons_hover/Feedback.png") center / contain;
      background-repeat: no-repeat;
    }
  }
  
  a.navLink-active {
    background-color: $hover-color;
    color: #ffffff;
    .Introduction {
      height: 25px;
      background: url("../images/icons_hover/Home.png") center / contain;
      background-repeat: no-repeat;
    }
    .LearningOutcomes {
      height: 25px;
      background: url("../images/icons_hover/Learning.png") center / contain;
      background-repeat: no-repeat;
    }
    .TrainingMaterials{
      height: 25px;
      background: url("../images/icons_hover/Training.png") center / contain;
      background-repeat: no-repeat;
    }
    .Quiz{
      height: 25px;
      background: url("../images/icons_hover/Quiz.png") center / contain;
      background-repeat: no-repeat;
    }
    .Resources{
      height: 25px;
      background: url("../images/icons_hover/Resources.png") center / contain;
      background-repeat: no-repeat;
    }
    .Practice{
      height: 25px;
      background: url("../images/icons_hover/Practice.png") center / contain;
      background-repeat: no-repeat;
    }
    .Feedback{
      height: 25px;
      background: url("../images/icons_hover/Feedback.png") center / contain;
      background-repeat: no-repeat;
    }
  }
  
  a.navbar-item:hover {
    background-color: $hover-color;
    color: #ffffff;
    .Introduction {
      height: 25px;
      background: url("../images/icons_hover/Home.png") center / contain;
      background-repeat: no-repeat;
    }
    .LearningOutcomes {
      height: 25px;
      background: url("../images/icons_hover/Learning.png") center / contain;
      background-repeat: no-repeat;
    }
    .TrainingMaterials{
      height: 25px;
      background: url("../images/icons_hover/Training.png") center / contain;
      background-repeat: no-repeat;
    }
    .Quiz{
      height: 25px;
      background: url("../images/icons_hover/Quiz.png") center / contain;
      background-repeat: no-repeat;
    }
    .Resources{
      height: 25px;
      background: url("../images/icons_hover/Resources.png") center / contain;
      background-repeat: no-repeat;
    }
    .Practice{
      height: 25px;
      background: url("../images/icons_hover/Practice.png") center / contain;
      background-repeat: no-repeat;
    }
    .Feedback{
      height: 25px;
      background: url("../images/icons_hover/Feedback.png") center / contain;
      background-repeat: no-repeat;
    }
  }
  // .navLink-active:focus{
  //     background-color: $hover-color;
  // }
  // .navLink-active{
  //     background-color: $hover-color;
  // }
  
  // a.navbar-item:active{
  //     background-color: $hover-color;
  // }
  
  .navbar-item:hover {
    background-color: $hover-color;
  }
  
  .navbar.is-link {
    background-color: #ffffff;
  }
  
  .icon-holding-div {
    width: 20%;
    margin: 0 auto;
    
  }
  .icon-holding-div:hover {
    .Introduction {
      height: 25px;
      background: url("/src/images/icons_hover/Home.png") center / contain;
    }
  }
  
  .navbar-item p:hover {
    color: #ffffff;
  }
  
  // .navbar a:hover{
  //     background-color: $hover-color;
  // }
  
  
  
  .navbar-item:not(:last-child) > .nav-border{
    border-right: 1px solid #787878;
  }
  .nav-border {
    margin: 10px 0px;
  }

  .session-burger {
    color: #4a4a4a;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
  }
  .session-burger span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
  }
  .session-burger:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .session-burger span:nth-child(1) {
    top: calc(50% - 6px);
  }
  .session-burger span:nth-child(2) {
    top: calc(50% - 1px);
  }
  .session-burger span:nth-child(3) {
    top: calc(50% + 4px);
  }
  @media screen and (min-width: $tablet) {
    .session-burger {
      display: none;
    }
  }
  @media screen and (max-width: $tablet) {
    .session-menu {
      display: block !important;
      width: 0% !important;
      overflow-x: hidden;
      padding: 0;
    }
    .columns {
      margin-left: 0;
      margin-right: 0;
    }
    .session-menu.menu-list-active {
      width: 50% !important;
    }
    .page > .columns > .column {
      transition: width 0.3s;
    }
    .session-content {
      width: 100% !important;
      padding: 0;
    }
    .session-content.menu-list-active {
      width: 50% !important;
    }
    .menu-label {
      color: white;
    }
    .menu-list-active .menu-label {
      color: #7a7a7a;
    }
    .menu-label {
      transition: color 0.3s;
    }
  }