@charset "utf-8";
$hover-color: #98d4f5; //#d3d6d7;
@import "theme";
@import "fonts";
@import "spacers";
@import "flexbox";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

$navbar-breakpoint: 0;
@import "node_modules/bulma/bulma";
@import "node_modules/bulma-extensions/bulma-accordion/dist/css/bulma-accordion";
// @import "node_modules/bulma-extensions/bulma-carousel/dist/css/bulma-carousel.min.css";

#home {
  background: url("../images/Amex_BG_pattern.png") rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main {
  overflow-y: auto;
}
.footer {
  position: initial;
}
.session-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}
.session-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}
.session-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.session-burger span:nth-child(1) {
  top: calc(50% - 6px);
}
.session-burger span:nth-child(2) {
  top: calc(50% - 1px);
}
.session-burger span:nth-child(3) {
  top: calc(50% + 4px);
}
@media screen and (min-width: $tablet) {
  .session-burger {
    display: none;
  }
}
@media screen and (max-width: $tablet) {
  .session-menu {
    display: block !important;
    width: 0% !important;
    overflow-x: hidden;
    padding: 0;
  }
  .columns {
    margin-left: 0;
    margin-right: 0;
  }
  .session-menu.menu-list-active {
    width: 50% !important;
  }
  .page > .columns > .column {
    transition: width 0.3s;
  }
  .session-content {
    width: 100% !important;
    padding: 0;
  }
  .session-content.menu-list-active {
    width: 50% !important;
  }
  .menu-label {
    color: white;
  }
  .menu-list-active .menu-label {
    color: #7a7a7a;
  }
  .menu-label {
    transition: color 0.3s;
  }
}
h1.title,
h2.subtitle {
  word-break: normal;
}
html {
  overflow-y: auto;
}

//bulma flexbox additions



////
.navbar-item {
  width: 14.2857%;
  padding: 0;
  padding-top: 0.5rem;
}
a.navbar-item:hover {
  color: #787878;
}

a.navbar-item{
  .Introduction {
    height: 25px;
    background: url("../images/Home.png") center / contain;
    background-repeat: no-repeat;
  }
  .LearningOutcomes {
    height: 25px;
    background: url("../images/Learning.png") center / contain;
    background-repeat: no-repeat;
  }
  .TrainingMaterials{
    height: 25px;
    background: url("../images/Training.png") center / contain;
    background-repeat: no-repeat;
  }
  .Quiz{
    height: 25px;
    background: url("../images/Quiz.png") center / contain;
    background-repeat: no-repeat;
  }
  .Resources{
    height: 25px;
    background: url("../images/Resources.png") center / contain;
    background-repeat: no-repeat;
  }
  .Practice{
    height: 25px;
    background: url("../images/Practice.png") center / contain;
    background-repeat: no-repeat;
  }
  .Feedback{
    height: 25px;
    background: url("../images/Feedback.png") center / contain;
    background-repeat: no-repeat;
  }
}


a.navbar-item:focus {
  background-color: $hover-color;
  color: #ffffff;
  .Introduction {
    height: 25px;
    background: url("../images/icons_hover/Home.png") center / contain;
    background-repeat: no-repeat;
  }
  .LearningOutcomes {
    height: 25px;
    background: url("../images/icons_hover/Learning.png") center / contain;
    background-repeat: no-repeat;
  }
  .TrainingMaterials{
    height: 25px;
    background: url("../images/icons_hover/Training.png") center / contain;
    background-repeat: no-repeat;
  }
  .Quiz{
    height: 25px;
    background: url("../images/icons_hover/Quiz.png") center / contain;
    background-repeat: no-repeat;
  }
  .Resources{
    height: 25px;
    background: url("../images/icons_hover/Resources.png") center / contain;
    background-repeat: no-repeat;
  }
  .Practice{
    height: 25px;
    background: url("../images/icons_hover/Practice.png") center / contain;
    background-repeat: no-repeat;
  }
  .Feedback{
    height: 25px;
    background: url("../images/icons_hover/Feedback.png") center / contain;
    background-repeat: no-repeat;
  }
}

a.navLink-active {
  background-color: $hover-color;
  color: #ffffff;
  .Introduction {
    height: 25px;
    background: url("../images/icons_hover/Home.png") center / contain;
    background-repeat: no-repeat;
  }
  .LearningOutcomes {
    height: 25px;
    background: url("../images/icons_hover/Learning.png") center / contain;
    background-repeat: no-repeat;
  }
  .TrainingMaterials{
    height: 25px;
    background: url("../images/icons_hover/Training.png") center / contain;
    background-repeat: no-repeat;
  }
  .Quiz{
    height: 25px;
    background: url("../images/icons_hover/Quiz.png") center / contain;
    background-repeat: no-repeat;
  }
  .Resources{
    height: 25px;
    background: url("../images/icons_hover/Resources.png") center / contain;
    background-repeat: no-repeat;
  }
  .Practice{
    height: 25px;
    background: url("../images/icons_hover/Practice.png") center / contain;
    background-repeat: no-repeat;
  }
  .Feedback{
    height: 25px;
    background: url("../images/icons_hover/Feedback.png") center / contain;
    background-repeat: no-repeat;
  }
}

a.navbar-item:hover {
  background-color: $hover-color;
  color: #ffffff;
  .Introduction {
    height: 25px;
    background: url("../images/icons_hover/Home.png") center / contain;
    background-repeat: no-repeat;
  }
  .LearningOutcomes {
    height: 25px;
    background: url("../images/icons_hover/Learning.png") center / contain;
    background-repeat: no-repeat;
  }
  .TrainingMaterials{
    height: 25px;
    background: url("../images/icons_hover/Training.png") center / contain;
    background-repeat: no-repeat;
  }
  .Quiz{
    height: 25px;
    background: url("../images/icons_hover/Quiz.png") center / contain;
    background-repeat: no-repeat;
  }
  .Resources{
    height: 25px;
    background: url("../images/icons_hover/Resources.png") center / contain;
    background-repeat: no-repeat;
  }
  .Practice{
    height: 25px;
    background: url("../images/icons_hover/Practice.png") center / contain;
    background-repeat: no-repeat;
  }
  .Feedback{
    height: 25px;
    background: url("../images/icons_hover/Feedback.png") center / contain;
    background-repeat: no-repeat;
  }
}
// .navLink-active:focus{
//     background-color: $hover-color;
// }
// .navLink-active{
//     background-color: $hover-color;
// }

// a.navbar-item:active{
//     background-color: $hover-color;
// }

.navbar-item:hover {
  background-color: $hover-color;
}

.navbar.is-link {
  background-color: #ffffff;
}

.icon-holding-div {
  width: 20%;
  margin: 0 auto;
  
}
.icon-holding-div:hover {
  .Introduction {
    height: 25px;
    background: url("/src/images/icons_hover/Home.png") center / contain;
  }
}

.navbar-item p:hover {
  color: #ffffff;
}

// .navbar a:hover{
//     background-color: $hover-color;
// }



.navbar-item:not(:last-child) > .nav-border{
  border-right: 1px solid #787878;
}
.nav-border {
  margin: 10px 0px;
}

.tabs ul {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.amexLogo {
  max-width: 20%;
}

//table

#trainingContent table p {
  padding-bottom: 10px;
}

#trainingContent ol li {
  padding-bottom: 30px;
}

.training-content .ul-disc {
  list-style: disc;
}

.video-container {
  width: 100%;
}
video {
  width: 100%;
  max-height: 75vh;
}

.LearningOutcomes-Icon{
  width: 5vh;
  height: 5vh;
  border: 2px white solid;
  border-radius: 50%;
  padding: 5px;
}
$navbar-breakpoint: 0;
